{
    "bracketSameLine": true,
    "eslint.autoFixOnSave": true,
    "printWidth": 80,
    "quoteProps": "consistent",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all"
}
