.drawer-nav-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 12px;
    z-index: 2;
}

.drawer-nav-sticky {
    position: fixed;
    top: 0;
}

.drawer-nav-icon {
    color: var(--main-dark);
    position: sticky;
}

.drawer-nav-text {
    color: var(--main-dark);
    margin-left: 8px;
}

.drawer-nav .ant-drawer-header {
    background: var(--main-dark-background);
    border-bottom-color: var(--main-dark);
}

.drawer-nav .ant-drawer-title {
    color: var(--main-dark);
}

.drawer-nav .ant-drawer-close {
    color: var(--main-dark);
}

.drawer-nav .ant-drawer-body {
    background: var(--main-dark-background);
}
