.drawer-nav-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
}

.drawer-nav-dark-icon {
    color: var(--main-dark);
}

.drawer-nav-light-icon {
    color: var(--main-light);
}

.drawer-nav-text {
    color: var(--main-light);
    margin-left: 8px;
}

.drawer-nav .ant-drawer-header {
    background: var(--main-dark);
    border-bottom-color: var(--main-light);
}

.drawer-nav .ant-drawer-title {
    color: var(--main-light);
}

.drawer-nav .ant-drawer-close {
    color: var(--main-light);
}

.drawer-nav .ant-drawer-body {
    background: var(--main-dark);
}
