.search-container {
    padding-top: calc(50vh - 146px);
    flex-grow: 1;
}

.search-view {
    width: 80%;
    max-width: 500px;
}

.search-title {
    color: var(--main-dark);
    font-size: 38px;
    margin-top: 12px;
    margin-bottom: 16px;
}

.search-user-icon {
    color: var(--main-dark);
    font-size: 100px;
}

.search-autocomplete {
    background: white;
    border-radius: 6px;
    width: 100%;
}

.ant-select-dropdown {
    background-color: white;
    box-shadow: none;
}
