.search-container {
    background-image: linear-gradient(
        to bottom left,
        var(--main-light),
        #f7fdfd,
        #97a2a8
    );
    padding-top: calc(50vh - 146px);
    min-height: 100vh;
    min-width: 100vw;
}

.search-view {
    width: 80%;
}

.search-title {
    color: var(--main-dark);
    font-size: 38px;
    margin-top: 12px;
    margin-bottom: 16px;
}

.search-user-icon {
    color: var(--main-dark);
    font-size: 100px;
}

.search-autocomplete {
    background: var(--main-light);
    border-radius: 6px;
    box-shadow: var(--main-shadow);
    width: 100%;
}
