.friend-container {
    flex-grow: 1;
}

.friend-view {
    max-width: 600px;
    width: 100%;
}

.friend-info {
    position: relative;
    background-color: var(--main-dark-background);
    padding: 32px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: auto;
    transition: height 0.1s linear;
}

.friend-info-scrolled {
    height: 80%;
}

.friend-subtext {
    color: var(--main-dark);
    font-size: 14px;
}

.friend-title {
    color: var(--main-dark);
    font-size: 30px;
}

.friend-text {
    color: var(--main-dark);
    font-size: 16px;
}

.friend-info-mb {
    margin-bottom: 8px;
}

.friend-online {
    width: 15px;
}

.friend-icon {
    color: var(--main-dark);
    font-size: 20px;
}

.friend-book {
    bottom: 12px;
    position: absolute;
    background-color: var(--main-dark);
    color: var(--main-light);
    border: none;
    width: 300px;
    align-self: center;
}

.friend-rating {
    color: var(--main-dark);
    align-self: center;
}

.friend-rating {
    opacity: 1;
}

.friend-rating .ant-rate-star-zero .ant-rate-star-second {
    color: var(--main-dark);
    opacity: 0.15;
}

.friend-message-icon {
    color: var(--main-dark);
}

.friend-map {
    border-radius: 2px;
    margin-top: 16px;
    margin-bottom: 16px;
}
