.friend-container {
    background-image: linear-gradient(
        to bottom left,
        #537670,
        var(--main-dark),
        #131510
    );
    min-height: 100vh;
    min-width: 100vw;
}

.friend-view {
    width: 80%;
}

.friend-image-view {
    position: relative;
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 50%,
        transparent 100%
    );
}

.friend-image {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.friend-info {
    margin-top: -44px;
    width: 90%;
    max-width: 500px;
}

.friend-description {
    color: var(--main-light);
    font-size: 16px;
}

.friend-title {
    color: var(--main-light);
    font-size: 30px;
}

.friend-text {
    color: var(--main-light);
    font-size: 16px;
}

.friend-info-mb {
    margin-bottom: 8px;
}

.friend-online {
    width: 15px;
}

.friend-icon {
    color: var(--main-light);
    font-size: 20px;
}

.friend-fab .ant-float-btn-body {
    background-color: var(--main-light);
}

.friend-rating {
    color: var(--main-light);
    align-self: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.friend-rating {
    opacity: 1;
}

.friend-rating .ant-rate-star-zero .ant-rate-star-second {
    color: var(--main-light);
    opacity: 0.15;
}

.friend-message-icon {
    color: var(--main-dark);
}
