.favourites-container {
    flex-grow: 1;
}

.favourites-row {
    padding: 32px;
}

.favourite-column {
    margin-bottom: 32px;
}

.favourite-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 8px;
}

.favourite-text {
    color: var(--main-dark);
}

.favourite-icon {
    color: var(--main-dark);
    margin-top: 8px;
}
