:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --main-light: #faf3ee;
    --main-light-background: #ffeae0;
    --main-dark: #0e3b47;
    --main-dark-background: #ffc1a2;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

body {
    margin: 0;
    background: var(--main-light-background);
}
